@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this little game</h1>
    <p class="">
        This is just a little .NET Core 6.0 web app to experiment with Identity, Entity Framework Core and Authorization/Authentication
    </p>
</div>
